@font-face {
    font-family: "roboto" ;
    src: url(../fonts/Roboto-Medium.ttf);
  }

  $font1: roboto, serif;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  li {
    list-style: none;
  }

 